
        <h2>About Eloquent</h2>
        <p><%= about %></p><br/>
        <h2>About the Author</h2>
        <p>Gamentryol (James) is a passionate coder that enjoys writing software and websites. Despite this being his first completed project he strives to work on more valuable and useful products.</p>